/**
* Tiles
**/
.tileLine {
	display: block;
}
.tile {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
.herbe {
	background-image: url("../img/tiles/herbe.png");
}
.eau {
	background-image: url("../img/tiles/eau.png");
}
.trou {
	background-image: url("../img/tiles/trou.png");
}
.fleur {
	background-image: url("../img/tiles/fleur.png");
}
.buisson-vert {
	background-image: url("../img/tiles/buisson-vert.png");
}
.buisson-bleu {
	background-image: url("../img/tiles/buisson-bleu.png");
}
.buisson-jaune {
	background-image: url("../img/tiles/buisson-jaune.png");
}
.buisson-orange {
	background-image: url("../img/tiles/buisson-orange.png");
}
.buisson-rouge {
	background-image: url("../img/tiles/buisson-rouge.png");
}