html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.page {
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.footer {
	position: absolute;
	width: 100vw;
	bottom: 0;
}

/**
* Menu
**/
.menu-page {
	/*background-image: url("../img/menu-fond.jpg");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.menu-cadre {
	width: 75%;
	height: 80%;
	
	/*background-image: url("../img/bulle.png");*/
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50%;
}
.menu-content {
	width: 25%;
	height: 50%;
}
.menu-item {
	margin-bottom: 5%;
}
.menu-button {
	width: 48%;
}

/**
* Utils
**/
.h-center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.v-center {
	margin-top: 50vh;
    transform: translateY(-50%);
}

/**
* Admin
**/
.adminPage li {
    list-style: none;
}
.adminPage li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.adminPage table {
    border-collapse: collapse;
}
.adminPage th {
    background-color: blue;
    color: white;
}
.adminPage table,th,td {
    border: 1px solid black;
    text-align: center;
}