/**
* Interface des outils
**/
.interface-outils {
	position: absolute;
	width: 100vw;
	height: 20vh;
	left: 0;
	bottom: 0;
}
.interface-outils.bois {
	background-image: url("../img/interface/interface-bas-bois.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.interface-outils ul {
	position: relative;
	top: 30%;
	width: 100%;
	height: 70%;
}
.interface-outils ul .outil:first-of-type {
	margin-left: 15%;
}
.interface-outils ul .outil {
	width: 8%;
	height: 100%;
	
	background-image: url("../img/interface/tool.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.interface-outils ul .outil:hover {
    background-image: url("../img/interface/tool-hover.png");
}
.interface-outils ul .outil.choose {
    background-image: url("../img/interface/tool-hover.png");
}

/**
* Argent
**/
.interface-argent {
	position: absolute;
	width: 10vw;
	height: 10vh;
	left: 0;
	top: 0;
	
	background-image: url("../img/interface/interface-argent.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.interface-argent .montant {
	position: relative;
	display: inline-block;
	top: 18%;
	cursor: default;
	
	font-size: 1.5em;
	font-weight: bold;
	font-family: fantasy;
	color: goldenrod;
}
.interface-argent .piece {
	position: relative;
	display: inline-block;
	top: 28%;
	width: 23%;
	height: 40%;
	margin-left: 5%;

	background-image: url("../img/interface/piece.png");
	background-repeat: no-repeat;
	background-size: 700% 100%;
	animation-name: piece-animation;
	animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: step-end;
}
@keyframes piece-animation {
    0%   {background-position: 0%;}
    14%  {background-position:17%;}
    28%  {background-position:34%;}
    42%  {background-position:51%;}
    56%  {background-position:67%;}
    70%  {background-position:84%;}
    84%  {background-position:100%;}
    100%  {background-position:0%;}
}

/**
* Menu
**/
.interface-menu {
	position: absolute;
	width: 8vw;
	height: 10vh;
	right: 0;
	top: 0;
	
	background-image: url("../img/interface/interface-menu.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	transition: all .2s ease-in-out;
}
.interface-menu:hover {
	transform: scale(1.1);
}

/**
* Quetes
**/
.interface-quete {
    position: absolute;
    width: 3vw;
    height: 56vh;
    right: 0;
    top: 25vh;
}
.interface-quete ul {
	margin-top: 10%;
    width: 100%;
    height: 100%;
}
.interface-quete ul .quete {
    width: 100%;
    height: 10%;
    
    background-image: url("../img/interface/quest.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.interface-quete ul .quete:hover {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}