/**
* Game
**/
.dialogue {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 1000;
}
.dialogue.mayo {
	background-image: url("../img/dialogue/dialogue-mayo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}