/**
* Map
**/
.camera {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.page#map {
	height: 82vh;
}
.layer {
	position: absolute;
	width: 1000000%;
	height: 1000000%;
}
.layer0 {
	left: -500000%;
	top: -500000%;
	background-image: url("../img/tiles/herbe.png");
	background-repeat: repeat;
	background-size: 32px 32px;
	z-index: -10;
}
.layer#terrain {
	left: 0;
	top: 0;
}
.layer#sousSol {
	z-index: 0;
}
.layer#sol {
	z-index: 10;
}
.layer#layer1 {
	z-index: 20;
}