<div class="row">
   <div class="center-block vertical-cadre menu-cadre">
	   <div class="menu-content">
		   <div>
		     <input id="login" class="form-control center-block menu-input" type="text" autofocus="autofocus" autocomplete="on" title="Login" placeholder="Login">
		   </div>
		   <div>
		     <input id="mdp" class="form-control center-block menu-input" type="password" autocomplete="off" title="Mot de passe" placeholder="Password">
		   </div>
		   <div>
		      <div class="center-block menu-buttons">
		          <span id="connexion" class="col-xs-6 btn btn-default">Connexion</span>
		          <span id="inscription" class="col-xs-6 btn btn-default">Inscription</span>
		      </div>
		   </div>
	   </div>
   </div>
</div>
<div class="row footer">
	<div class="col-xs-12 copyright">
		<p>Cette oeuvre est sous license <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons</a></p>
		<p>Merci de ne pas la modifier ou la partager de fa&ccedil;on commerciale.</p>
	</div>
</div>
